h1, p{
	color:green;
	text-align: center;
}
.ejemplo{
	background-color: blue;
	height: 20px;
}
h2.ejemplo{
	color: white;
	height: 40px;
}

#colores > ul > li {
	background-color: yellow;
	color: red;
	font-size: 2em;
}

#orange{
	color: orange !important;
}
#green{
	color: green;
}
#red{
	color: red;
}
.blue{
	color: blue;
}
a[href]{
	color: red;
}
a[href="codigofacilito.com"]{
	color: pink;
}
a[class="ejemplo"]{
	color:red;
}
/*span h2{
	color: red;
	font-size: 20px;
}*/