div.no-wrap{
	display: flex;
	flex-direction: row; 
	background-color: #f5f5f5;
	justify-content: flex-start;
	flex-wrap: nowrap; 
}
div.wrap{
	display: flex;
	flex-direction: row; 
	background-color: #f5f5f5;
	justify-content: flex-start;
	flex-wrap: wrap; /*Hace que los elementos pasen a la siguiente linea*/
}
div.wrap-reverse{
	display: flex;
	flex-direction: row; 
	background-color: #f5f5f5;
	justify-content: flex-start;
	flex-wrap: wrap-reverse; /*Hace que los elementos pasen a la siguiente linea*/
}
div.flex-flow{
	display: flex;
	background-color: #f5f5f5;
	flex-flow: row wrap; /*Especifica tanto la dirección como el valor*/

}
button,p{
	border:0;
	font-size: 1em;
	outline: none;
	padding: 10px;
	border-radius: 4px;
	color: white;
	flex: 1 2 500px;
	min-width: 600px;
}
button:nth-of-type(1){
	background-color: #FF6759;
}
button:nth-of-type(2){
	background-color: #F79256;
}
button:nth-of-type(3){
	background-color: #047493;
}
p{
	background-color: #222;
}