/* Paletas de Colores


color: #d500f9; Color rosa
*/
/* Selectores de nombre de la etiqueta */
html{
	font-family: 'Nunito', sans-serif;
}

img{
	max-width: 100%;
}

.paragraph{
	line-height: 1.8em;
	font-weight: 400;
}

.fa-star, .fa-star-half-alt{
	color:#ffc400;
}

.fa-arrow-left {
	color:white;
	font-size: 24px;
}

a{
	text-decoration: none;
	color: #d500f9;
	/*
	text-decoration: underline; Línea debajo
	text-decoration: line-through; Línea en medio
	text-decoration: overline; Línea encima
	text-decoration: none; -> quita la línea
	*/
}

.title {
	text-transform: uppercase;
	text-align: center;
	/* 
	text-transform: uppercase;
	text-transform: lowercase;
	text-transform: capitalize;
	*/
}

.container {
	background: #C6FFDD;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
 	background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 	height: 100vh;
 	display: flex;
 	align-items: center;
 	justify-content: center;
}

.content {
	max-width: 960px;
	width: 100%;
	height: 80vh;
	background-color: #ffff;
	/* box-shadow: diferenciaHorizontal diferenciaVertical desenfoque amplitud color*/
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	border-radius: 4px;
	position: relative;
	padding: 1.8em;
}

.actions {
	position: absolute;
	top: 1em;
	right: 1em;
}

.close {
	height: 40px;
	width: 40px;
	color: white;
	border-radius: 50%;
	background-color: #642B73;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	font-weight: 300;
	cursor: pointer;
	display: inline-block;
	display: flex;
	align-items: center;
	justify-content: center;
}
.close:hover{
	background: hotpink;
}

a:hover{
	opacity: 0.6;
}

/* Selectores de clase */ 
.red{
height: 200px;
width: 100px;
background-color: red;
}
/* Selectores id */
#boton-pago	{
background-color: yellow;
}

.table {
	width: 100%;
	border-spacing: 0;
}

.table td, .table th {
	padding: 0.5em;
	text-align: left;
}

.table tr:nth-child(even){background-color: #f3e5f5;}

.title-item{
	border-bottom-style: solid;
	border-width: 2px;
	border-color: #c6426e;
	padding-bottom: 1em;
	font-size: 2em;
}

/*
td {
	border: solid 0.2px; 
}
*/

.address {
	font-weight: bold;
	color: #642B73;
	font-size: 1.2em;
	display: inline-block;
	margin-top: 2em;
}

.main-image{
	float:left;
	margin-right: 1em;
	height: 240px; 
}

.position{
	background-color: #c6426e; 
	color: white;
	padding: 0.5em;
	border-radius: 4px;
	margin-right: 0.5em;
	/*
	border-top-left-radius: 2em;
	border-top-right-radius: 2em;
	border-bottom-left-radius: 2em;
	border-bottom-right-radius: 2em;
	*/
}
@media (max-width: 600px){
		.contente{
			padding: 1em;
		}
		td{
			display: block;
			width: 100%;
		}
		td:nth-of-type(1){
			font-size: 1.5em;
			font-weight: bold;
			color:#642B73;
		}
		th{
			display: none;
		}
	}
@media (min-height: 550px){
		.content{
			height: 500px;
		}
	}