div.stretch{
	display: flex;
	background-color: #f5f5f5;	
	flex-flow: row wrap;
	justify-content: space-around;
	height: 600px;
	align-items: stretch; /*Valor original, todos los elementos adaptan su tamaño para
						rellenar el elemento del contenedor*/
}
div.center{
	display: flex;
	background-color: #f5f5f5;	
	flex-flow: column wrap;
	justify-content: space-around;
	align-items: center;
}
div.flex-start{
	display: flex;
	background-color: #f5f5f5;	
	flex-flow: column wrap;
	justify-content: space-around;
	align-items: flex-start;
}
div.flex-end{
	display: flex;
	background-color: #f5f5f5;	
	flex-flow: column wrap;
	justify-content: space-around;
	align-items: flex-end;
}
div.baseline{
	display: flex;
	background-color: #f5f5f5;	
	flex-flow: column wrap;
	justify-content: space-around;
	align-items: baseline;
}
button,p{
	border:0;
	font-size: 1em;
	outline: none;
	padding: 10px;
	border-radius: 4px;
	color: white;	 
	min-width: 600px;
}
button{
	background-color: gray;
}
button:nth-of-type(1){
	background-color: #FF6759;
	flex-grow: 2;
}
button:nth-of-type(2){
	background-color: #F79256;
	flex-grow: 3;
}
button:nth-of-type(3){
	background-color: #047493;
	flex-shrink: 4;
}
p{
	background-color: #222;
	height: 100px;
}