/* Fuentes en CSS */
body{
	font-size: 100%;
}

h2{
	background-color: hsl(180,50%,80%);
	border: double darkblue 5px;
	border-radius: 25px;
	font-family: Arial;
}
p.italic {
	font-style: italic;
	color: red;
}
p.size {
	font-family: Arial;
	font-style: italic;
	font-size: 50px; /* px em % */
}

/* Si deseas traer fuentes externas */

p{
	font-family: 'Odibee Sans', cursive;
	font-size: 3em;
}

