body {
	background-image: url(blastoise.png);
	background-repeat: no-repeat;
	background-position: 50% 50%; /* right top; *//* center top*/
	background-attachment: fixed;
	background-size: contain; /*cover; 100% 100%; 100px 100px;*/

}
.space{
	height: 600px;
}