/* Posiciones CSS */

/* Elementos en bloque 
<h1>, <h2>, <h3>, <p>, <ul>, <li>, <div>, <header>, <nav>, <section>, <article>, <footer>, <form>, <table>
*/
/*Elementos en línea 
 <a>, <span>, <strong>, <img>, <input>, <code>
*/
body{
	font-size: 100%;
	margin: 0;
}

h1{
	background-color: hsla(180,50%,80%,.5);
	border: double darkblue 5px;
	border-radius: 25px;
	font-family: Arial;
	font-style: italic;
	font-size: 2em;
}
h2{
	margin: 5px;
}

.container{
	position: relative;
	border: 1px solid red;
	height: 300px;
	/* padding: 10px 5px 10px 5px; /* arriba, derecha, abajo, izquierda */
	/* padding: 10px; Automaticamente todos los padding quedan de 10px TRBL */
	/* padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px; */
	/* puedes utilizar las unidades de medida en %, px, em, etc. */
}
h2.marginauto{
	width: 50%;
	margin: auto;
}

.blastoise{
	border: double 7px darkblue;
	border-radius: 50%;
	margin: 0;
}
.thumb{
	margin: 10px;
	border: 5px solid #ddd;
	width: 150px;
}
.thumb:hover{
	box-shadow: 0 0 2px 1px rgba(0, 140, 186, .8);
	width: 165px;
}

.title{
	position: static;
}

.turtle{
	position: relative;
	margin: 10px;
	border-radius: 10px;
}
