.container{
	display: grid;
	height: 300px;
	background-color: blue;
	grid-template-columns: repeat(6,1fr);
	grid-template-rows: repeat(3,1fr);
	grid-template-areas: "nav nav nav nav nav nav"
						"body body body body body body"
						"footer footer footer footer footer footer";
}
.red{
	background-color: red;
	grid-area: footer;
}
.yellow{
	background-color: yellow;
	grid-column: 2 / 3;
	grid-row: 1;
}