.container{
	display: grid;
	height: 300px;
	width: 500px;
	background-color: blue;
	grid-template-columns: 200px 300px;
	grid-template-rows: 300px;
}

.container2{
	display: grid;
	height: 300px;
	width: 500px;
	background-color: green;
	grid-template-columns: 200px 300px;
}

.container3{
	display: grid;
	height: 300px;
	width: 500px;
	background-color: yellow;
	grid-template: 300px / 200px 300px;
}